# =====================================================
# GIT
# =====================================================
.git/
.gitignore

# =====================================================
# VISUAL STUDIO
# =====================================================
.vs/
*.user
*.suo

# =====================================================
# .NET
# =====================================================
**/bin/
**/obj/

# =====================================================
# VARIABLES Y SECRETOS
# =====================================================
.env
.env.*
docker.env
docker.local.env
docker.azure.env
secrets.json
*.secrets.json

# =====================================================
# ARCHIVOS INNECESARIOS
# =====================================================
README.md
*.log
.DS_Store
Thumbs.db