# =====================================================
# BASE DE DATOS
# =====================================================

ConnectionStrings__CanchasDb=Server=SERVIDOR_SQL;Database=DB_RESERVACION_CANCHAS;User Id=USUARIO;Password=PASSWORD;TrustServerCertificate=True;

# =====================================================
# JWT
# =====================================================

JwtSettings__Key=CLAVE_JWT_SEGURA
JwtSettings__Issuer=Canchas.Api
JwtSettings__Audience=Canchas.Web
JwtSettings__ExpirationMinutes=60

# =====================================================
# ADMINISTRADOR INICIAL
# =====================================================

SeedAdmin__NombreCompleto=Administrador
SeedAdmin__Correo=admin@canchas.local
SeedAdmin__Password=PASSWORD_ADMIN

# =====================================================
# SWAGGER
# =====================================================

Swagger__Enabled=true

# =====================================================
# CORS
# =====================================================

Cors__AllowedOrigins__0=http://localhost:5173